// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";


// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;


@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/




// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:    #488aff,
  secondary:  #32db64,
  danger:     #f53d3d,
  light:      #f4f4f4,
  dark:       #222,
  seffaf: rgba(0, 0, 0, 0.0),
  gri: grey,
  turkuaz: #00aeff,
  turuncu: orange
);

$tabs-background: #00aeff;
$tabs-ios-tab-icon-color:white;
$tabs-ios-tab-text-color: white;
$tabs-ios-tab-text-color-active:black;
$tabs-ios-tab-icon-color-active: black;
$tabs-ios-tab-font-size: 13px;
$toolbar-md-button-color: white;
$toolbar-ios-title-text-color: white;
$toolbar-ios-button-color: white;

$toolbar-md-title-text-color: white;
$tabs-md-tab-text-color:white;
$tabs-md-tab-icon-color:white;
$tabs-md-tab-text-color-active:black;
$tabs-md-tab-icon-color-active: black;

$segment-button-ios-text-color: white;
$segment-button-ios-background-color: white;
$segment-button-ios-background-color-activated: black;

$segment-button-md-opacity: 1;
$segment-button-md-text-color-activated: black;

$font-family-md-base: "centurygothic";
$font-family-ios-base:"centurygothic";

$searchbar-ios-background-color: rgba(0, 0, 0, 0.1);

$text-input-placeholder-color: black;
$label-md-text-color: black;

@font-face{
  font-family: centurygothic;
  src: url(../../www/assets/fonts/centurygothic.ttf), url(../../www/assets/fonts/centurygothic.woff);

}
$font-family-md-base: "centurygothic";
$font-family-ios-base: "centurygothic";


// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here




// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here




// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";
